.footer {
  min-height: 81vh;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  .first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 65vh;
    .about {
      min-height: 65vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 25px;
      h3 {
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        color: red;
        width: 100%;
        font-size: 34px;
        font-weight: 900;
        text-decoration: underline;
        text-align: center;
      }
      p {
        padding: 4px;
        text-align: center;
        width: 100%;

        font-size: 18px;
        font-weight: 400;
      }
      iframe {
        min-height: 34vh;
        width: 100%;
        border: none;
        filter: invert(92%);
      }
    }
  }
  .sec{
    min-height: 16vh;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    .contact{
  min-height: 16vh;
      width: 100%;
      // background-color: palegreen;
      display: flex;
      align-items: center;
      justify-content: center;
      .con{
        // background-color: darkcyan;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        span{
          // background-color:firebrick;
          text-align: center;
          width: 50%;
          font-size: 18px;
          font-weight: 400;
        }
      }
      .copy-right{
        // background-color: darkgoldenrod;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        gap: 1px;
        span{
          // background-color: sandybrown;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 400;
        }
        .icons{
          // background-color: violet;
          width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
  gap: 52px;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    text-decoration: none;
    color: black;
    &:hover{
      color: red;
    }
  }
        }
  
        
      }
          }  
  }
}
