.slider {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .images {
    scroll-behavior: smooth;
    gap: 7px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  img {
    height: 180px;
    border-radius: 100%;
  }
  